<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login - CARS</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
</head>
<body>
  <div class="background-image"></div>
  <nav class="navbar">
    <h1><center>CARS Portal</center></h1>
  </nav>
  <main class="glass-form">
    <h2>Login</h2>
    <form method="POST" action="{{ url_for('auth.login') }}">
      {{ form.hidden_tag() }}
      <label for="email">Email</label>
      {{ form.email(id="email", required=True) }}
      <label for="password">Password</label>
      {{ form.password(id="password", required=True) }}
      <button type="submit">Login</button>
      <p style="margin-top: 10px; text-align: right;">
  <a href="{{ url_for('auth.reset_password') }}">Forgot Password?</a>
</p
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </main>
</body>
</html>
